SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PORT=3000
TANK01_RAPIDAPI_KEY=
TANK01_RAPIDAPI_HOST=
ODDS_API_KEY=
TANK01_PLAYERS_URL=
NFL_DRAFTKINGS_SALARIES_URL=
MLB_DRAFTKINGS_SALARIES_URL=
NBA_DRAFTKINGS_SALARIES_URL=
MMA_DRAFTKINGS_SALARIES_URL=
GOLF_DRAFTKINGS_SALARIES_URL=
NASCAR_DRAFTKINGS_SALARIES_URL=
NFL_INJURIES_URL=
MLB_INJURIES_URL=
NBA_INJURIES_URL=
MMA_INJURIES_URL=
GOLF_INJURIES_URL=
NASCAR_INJURIES_URL=
NFL_GAME_LOGS_URL=
MLB_GAME_LOGS_URL=
NBA_GAME_LOGS_URL=
MMA_GAME_LOGS_URL=
GOLF_GAME_LOGS_URL=
NASCAR_GAME_LOGS_URL=
